.Form {
    max-width: 800px;
    width: 95%;
    background: white;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    min-height: 150px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.Form form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.Form .inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.Form .inputfile:hover {
    outline: 8px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.Form .inputfile + label {
    font-size: 1.25em;
    font-weight: 500;
    color: rgb(111, 111, 111);
    padding-left: 8px;
    width: 100%;
    border: solid 1px rgb(96, 96, 96);
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}


.Form .inputPost {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
}

.Form button {
    cursor: pointer;
    transition: 0.4s;
}
.Form button:hover {
    background-color: lightgreen;
}