.signup {
    background-color: lightgreen;
    max-width: 500px;
    margin: 80px auto;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 20px;
    overflow: hidden;
}

.signup :Link{
    margin: 0;
    display: inline-block;
    width: 50%;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    padding: 15px 0;
    background-color: rgb(113, 211, 113);
    cursor: pointer;
}

.signup h2 {
    font-size: 3em;
    color: rgb(62, 62, 62);
}
.signup form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
.signup input, button {
    margin:  10px 0;
    padding: 5px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    
}

.signup button {
    cursor: pointer;
}
.signup .error {
    color: red;
    font-size: 1.3em;
    background-color: white;
    padding: 5px;
    width: 70%;
    margin: 10px auto;
    border-radius: 5px;
}