.Header {
    background-color: lightgreen;
    height: 120px;
    color: rgb(62, 62, 62);
    transition: all 1.5s;
}

.Header .container {
    max-width: 1240px;
    height: 100%;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Admin {
    background-color: rgb(225, 113, 113);
    height: 170px;
}

.Header h1 {
    font-weight: 700;
    margin-right: 50px;
}

.Header button {
    cursor: pointer;
    transition: all 0.4s;
}

.Header button:hover {
    color: white;
    background-color: gray;
}