.Header {
    background-color: lightgreen;
    height: 120px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    color: rgb(62, 62, 62);
    display: flex;
    justify-content: space-between;
    transition: all 1.5s;
}

.Admin {
    background-color: lightcoral;
    height: 170px;
}

.Header h1 {
    font-weight: 800;
}

.Header button {
    cursor: pointer;
}